<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>ログイン</title>
</head>

<body>

  <h1> Todoアプリ ログイン </h1>
  
  <div th:if="${param.error}">
    <p style="color:red">
      ユーザーIDまたはパスワードが違います。
    </p>
  </div>
  
  <div th:if="${param.logout}">
    <p>
      ログアウトしました。
    </p>
  </div>

  <form th:action="@{/login}" method="post">

    <div>
      <label>ユーザーID</label>
      <input type="text" name="username">
    </div>

    <div>
      <label>パスワード</label>
      <input type="password" name="password">
    </div>

    <button type="submit">ログイン</button>
  </form>
  
  <hr>
  
  <div>
    <a th:href="@{/signup}">新規ユーザー登録はこちら</a>
  </div>

</body>